<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A packwiz minecraft modpack" />
    <meta name="generator" content="packwiz-renderer 0.1.0" />

    <title>{{ pack.name }}</title>
  </head>
  <body>
    <main style="max-width: 960px; margin: 0 auto">
      <h1>{{ pack.name }}</h1>

      <p>
        To install this modpack use packwiz, and point at this url with
        <a href="/pack.toml">pack.toml</a>
        at the end.
      </p>

      <div>
        <h2>Mods</h2>
        <ul
          style="display: flex; flex-direction: column; gap: 1rem; padding: 0"
        >
          {{#each mods}}
          {{> item }}
          {{/each}}
        </ul>

        <h2>Resource Packs</h2>
        <ul
          style="display: flex; flex-direction: column; gap: 1rem; padding: 0"
        >
          {{#each resourcePacks}}
          {{> item }}
          {{/each}}
        </ul>
      </div>
    </main>
  </body>
</html>
